$secuRBlue: rgba(48, 94, 128, 1.0);
$secuSemiTransparent: rgba(255, 255, 255, 0.25);
$secuDBlue: rgba(15, 61, 97, 1.0);
$secuTransparent: rgba(255, 255, 255, 0.0);
$secuWhite: rgba(255, 255, 255, 1.0);
$secuAlmostWhite: rgba(244, 244, 244, 0.89);
$boxShadow: rgba(0, 0, 0, 0.7);